<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.3/phpunit.xsd"
        bootstrap="vendor/bin/autoload.php"
        colors="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
